.password-form {
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  border: 1px 0px 0px 1px solid black;
  border-right: none;
}

.btn-eye {
  background-color: white !important;
  border-left: none;
  padding: 10.5px;
  border-radius: 0rem 0.2rem 0.2rem 0rem;
  border-color: #CED4DA !important;
}

